/* cores padrão do site*/
:root {
  --vermelho: #dd1717;
  --preta: #141414;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Elementos base */

body {
  background-color: var(--preta);
  font-family: 'Arial', Times, Serif;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--vermelho);
  font-family: 'Arial Black', Times;
  font-size: 40px;
  margin-left: 5px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/* Filme principal*/
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url('../img/gunsnroses.jpg');
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 30px;
}
.filme-principal .titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}

.botao {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 10px;
  cursor: pointer;
  transition: 0.6s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}
.botao i {
  margin-right: 8px;
}
.container {
  margin-left: 20px;
}
.filme-principal .container {
  width: 70%;
}

.box-filme {
  height: 90%;
  width: 50%;
  display: block;
}
.carrosel-filmes {
  margin-top: 8px;
}

/*Reponsividade do site comprimento máximo de 700px*/
@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .botao {
    margin-top: 8px;
    width: 300px;
  }
}
/*Responsividade minima de 1000px*/
@media screen and (min-width: 1000px) {
  .descricao {
    width: 50%;
  }
}
